<div class="main-container">
  <div class="image-container">
    <div class="text-container1">
      <div class="circle"></div>
    </div>
    <div class="text-container1-1">
      <div class="gradient"></div>
    </div>
    <div class="text-container2">
      <div class="text-content">
        <p>Hi, I'm <span class="highlight">JASHU</span></p>
        <p>I develop 3D visuals, user <br> interfaces, and web applications</p>
      </div>
    </div>

    <div class="image-container">
      <app-computers></app-computers>
    </div>
    <img src="assets/herobg.png" alt="Image">
  </div>
  <div class="about">
    <app-about></app-about>
  </div>
  <div class="balls">
    <app-rotating-balls></app-rotating-balls>
  </div>
  <div class="work">
    <app-work></app-work>
  </div>
  <div>
    <app-contact></app-contact>
  </div>
</div>