<div class="about-container">
<div class="about-intro">
  <p class="sectionSubText">Introduction</p>
  <h2 class="sectionHeadText">OVERVIEW</h2>
</div>

<p class="about-description">
  I'm a skilled software developer with experience in TypeScript and JavaScript,
  and <br>expertise in frameworks like React, Node.js, and Three.js. I'm a quick learner
  and <br>collaborate closely with clients to create efficient, scalable, and user-friendly
  solutions <br> that solve real-world problems. Let's work together to bring your ideas to life!
</p>

<div class="about-service-cards">
  <app-service-card
    *ngFor="let service of services; let index = index"
    [index]="index"
    [title]="service.title"
    [icon]="service.icon"
    (click)="navigateToGitHub(service.title)"
  ></app-service-card>
</div>

</div>
