<div class="about-container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <div class="about-intro">
        <p class="sectionSubText">MY WORK</p>
        <h2 class="sectionHeadText">Projects</h2>
    </div>

    <p class="about-description">
        Following projects showcases my skills and experience through
        real-world examples of my work.<br>Each project is briefly described with
        links to code repositories and live demos in<br> it. It reflects my
        ability to solve complex problems, work with different technologies,
        and<br> manage projects effectively.
    </p>

    <div class="card-container">
        <div class="card">
                <img src="../../assets/figma.png" alt="Image 1">
                <a href="https://github.com/jaswanthsaik/Figma" class="github-icon" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            <h3>Figma Events</h3>
            <p>My name is Jaswanth, I created UI Design Daily to be able to share these designs with anybody who is interested in using them
                as inspiration or research material.</p>
            <p><span class="tag-angular">#Angular </span> <span class="tag-css">#CSS </span> <span
                    class="tag-html">#HTML</span></p>
        </div>
        <div class="card">
            <img src="../../assets/UI.png" alt="Image 2">
            <a href="https://github.com/jaswanthsaik/angular-login-UI" class="github-icon" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            <h3>User Login</h3>
            <p>Web application that enables users to search for jobs openings, view estimated salary ranges for
                positions, and locate available jobs based on ther current location</p>
                <p><span class="tag-angular">#React </span> <span class="tag-css">#SCSS </span> <span
                    class="tag-html">#Restapi</span></p>
        </div>
        <div class="card">
            <img src="../../assets/meals.jpg" alt="Image 3">
            <a href="https://github.com/jaswanthsaik/React-Projects/tree/main/react-foodorder" class="github-icon" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            <h3>Food Order App</h3>
            <p>Web-based platform that allows users to search, Add, and manage food items from various restaurents,
                providing a convenient and efficient solution for delivery needs.</p>
                <p><span class="tag-angular">#React </span> <span class="tag-css">#Mongodb </span> <span
                    class="tag-html">#Tailwind</span></p>
        </div>
    </div>
</div>