<div class="container">
  <div class="sphere">
    <div class="heading">Technologies</div>
    <div class="ball" id="ball1" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <a href="https://angular.io/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/angular.logo.jpg" alt="Angular">
      </a>
    </div>
    <div class="ball" id="ball2" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <a href="https://react.dev/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/React.icon.png" alt="React">
      </a>
    </div>
    <div class="ball" id="ball3" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <a href="https://aws.amazon.com/free/?trk=14a4002d-4936-4343-8211-b5a150ca592b&sc_channel=ps&ef_id=Cj0KCQjw9fqnBhDSARIsAHlcQYRdjP_PPLrVRR6Mt6SOCHW2gIThZCwYQv4x0Rkuhtgg6btdPRm0r00aAicEEALw_wcB:G:s&s_kwcid=AL!4422!3!453325184782!e!!g!!aws!10712784856!111477279771&all-free-tier.sort-by=item.additionalFields.SortRank&all-free-tier.sort-order=asc&awsf.Free%20Tier%20Types=*all&awsf.Free%20Tier%20Categories=*all"
        target="_blank" rel="noopener noreferrer">
        <img src="../../assets/AWS.logo.jpg" alt="React">
      </a>
    </div>
    <div class="ball" id="ball4" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <a href="https://azure.microsoft.com/en-in" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/azure.logo.png" alt="React">
      </a>
    </div>
    <div class="ball" id="ball5" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <a href="https://www.tutorialspoint.com/css/css3_tutorial.htm" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/CSS3.logo.png" alt="React">
      </a>
    </div>
    <div class="ball" id="ball6" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <a href="https://kalibr8.io/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/kalibr8.logo.webp" alt="Kalibr8">
      </a>
    </div>
    <div class="ball" id="ball7" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <a href="https://www.w3schools.com/js/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/javascript.logo.png" alt="React">
      </a>
    </div>
    <div class="ball" id="ball8" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/Typescript_logo_2020.svg.png" alt="React">
      </a>
    </div>
    <div class="ball" id="ball9" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <a href="https://www.w3schools.com/java/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/Java.logo.png" alt="React">
      </a>
    </div>
    <div class="ball" id="ball10" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
      <a href="https://www.ruby-lang.org/en/" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/ruby.logo.png" alt="React">
      </a>
    </div>
  </div>
  <!-- <div class="text-container">
   
    <div class="columns-wrapper">
      <div class="column">
        <div class="text">Angular</div>
        <div class="text">React</div>
        <div class="text">AWS</div>
        <div class="text">AZURE</div>
        <div class="text">CSS3</div>
      </div>
      <div class="column">
        <div class="text">KALIBR8</div>
        <div class="text">JavaScript</div>
        <div class="text">TypeScript</div>
        <div class="text">JAVA</div>
        <div class="text">RUBY</div>
      </div>
    </div>
  </div> -->


</div>